body {
    font-family: "Poppins", sans-serif;
}
.begining{
    width: 100%;
    max-width: 1400px;
    padding-top: 20px; 
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    max-width: 1400px;
    padding-top: 20px; 
    padding-left: 60px;
    padding-right: 60px;
}
.navigation{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;   
}
.navigation_btn1:hover{
    background-color: #f2f0e9;
}
.navigation_btn2:hover{
    background-color: #ff8c00;
}
.navigation_btn1{
    color: #173A56;
    border-color: black;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 11px 20px;
    font-weight: 600px;
    margin-left: 30px;  
}
.navigation_btn2{
    color: #ffffff;
    background-color: #FF9900;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 11px 20px;
    font-weight: 600px;
    margin-left: 14px;
}
.navigation>li>a{
    text-decoration: none;
    margin-left: 24px;
    color: #2F281E;
    font-weight: 400;
}
.logo{
    display: left;
    align-items: center;
    justify-content:left;
}
.logo_img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.firstpart_title{
    font-family: "Poppins", sans-serif;
    max-width: 518px;
    max-height: 108px;
    width: 100%;
    font-weight: 700px;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}
.firstpart_text{
    font-family: "Poppins", sans-serif;
    max-width: 458px;
    max-height: 95px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    font-size: 18px;
    font-weight: 200px;
    font-style: normal;
    color: #544837;
    line-height: 28px;
}

.info_buttons{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700px;
    border: none;
    margin-top: auto;
    margin-left: auto;
    padding: 10px 10px;
}
.info_btn1:hover{
    background-color: #ff8c00;
}
.info_btn2:hover{
    color: #d27401;
}
.info_btn1{
    width: 175px;
    height: 53px;
    font-weight: 700px;
    color: #ffffff;
    background-color: #FF9900;
 
    border-radius: 0px;
    border: none;

}
.info_btn2{
    width: 161px;
    height: 23px;
    color: #FF9900;
    background-color: white;
    border: none;
    border-radius: 0%;
   
}
.orange_play_button{
    margin-left: 30px;
}

section{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 210px ;
}
section img {
    max-width: 100%;
    height: auto;
  }
.header2{
    max-width: 700px;
    max-height: 108px;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-right: 350px;
    margin-left: 350px;
    color: #2F281E;
    letter-spacing: 0px;
}
.container{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-right: 75px;
    margin-left: 75px;
    padding-right: 20px;
    max-width: 1095px;
    max-height: 204px;
}

.block{

    max-width: 240px; /* Adjust width as needed */
    max-height: 124px;
    margin: 40px; /* Space around each block */
    text-align: center; /* Centers content inside the block */
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    line-height: 33px;
    color: #2F281E;
}
p{
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    align-items: center; 
    color: #544837;
    line-height: 26px;
    color: #544837;
}
.sign_up_now_btn:hover {
    background-color: #ff8c00; 
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.option_text_container{
    display: flex;
    flex-wrap: warp;
    gap: 20px;
    flex-direction: column;

}
.opt_text{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.divider {
    width: 1200px;
    height: 1px;
    background-color: #BCD0E5; 
    margin: auto;
    margin-top: 40px;
}
.end{
position: absolute;
width: 1109px;
height: 308px;
left: 160px;
top: 3700px;
}
.endlogo{
    display: flex-start;
    position: relative;
    left: 1px;
    top: 250px;
}

.footer_info1
{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    left: 385px;
    top: 295px;
}
.footer_info2
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    left: 630px;
    top: 165px;
    
}
.footer_info1>a,
.footer_info2>a
{
    text-decoration: none;
    color: #544837;
    line-height: 2;
}
.sign_up_now_btn{
    display: flex;
    align-content: center;
    color: #ffffff;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 700;
}
.footer_sign_up{
    position: relative;
    top: 80px;
    left: 830px;
}
.footer_sign_up_button>a{
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
}

.footer_sign_up_button{
    display: flex;
    align-content: center;
    color: #ffffff;
    background-color: #FF9900;
    border-radius: 4px;
    border: none;
    margin: 10px;

}
.footer_sign_up_button:hover{
    background-color: #ff8c00;
}
.email_input {
    width: 325px; 
    height: 48px;  
    padding: 10px; 
    border-color: #BCD0E5;
    border-radius: 5px;
    box-sizing: border-box; 
}